html
  head
    include ../head.pug
  body
    include ../header.pug
    p Welcome to Train Text: a data-friendly train times site for Great Britain.
    include ../form.pug
    h3 Usage
    p Either use the boxes above or add to this page's URL to search for stations. Station names can be entered using either their 3 letter station codes, or their name e.g. 'bristolparkway', 'bristolp' or 'bpw' will get you times for Bristol Parkway.
    h4 /from
    p For example, 
      a(href="/bathspa") trntxt.uk/bathspa
      |  will show the full departure board for Bath Spa.
    h4 /from/to
    p For example, 
      a(href="/paddington/reading") trntxt.uk/paddington/reading
      |  will find trains departing Paddington, calling at Reading. You can then swap the journey's direction with the link at the top of the page.
    p
      strong Protip:
      |  pin journeys to your smartphone's homescreen for one-touch access to your favourite routes.
    hr
    include ../footer.pug
    script
      include:uglify-js ../serviceWorker.js