html
	head
		include ../head.jade
	body
		h1
			em trntxt
				small .uk
		p Presenting trntxt: a data-friendly train times site designed for phones on GPRS.
		h3 Usage
		p
			| Station names can be entered using either their 3 letter station codes, or their name (without spaces).
			br
			| e.g. 'bristolparkway', 'bristolp' or 'bpw' will get you times for Bristol Parkway.
		p
			strong /from
			br
			| For example, 
			a(href="/bathspa") /bathspa
			|  will show the full departure board for Bath Spa.
		p
			strong /from/to
			br
			| For example, 
			a(href="/paddington/reading") /paddington/reading
			|  will find trains departing Paddington, calling at Reading. You can then swap the journey's direction with the link at the bottom of the page.
		p This site is designed to work on any mobile device. There are no images or any other fancy things, so you get the data you need as quickly as possible.
		p
			strong Protip:
			|  pin journeys to your smartphone's homescreen for one-touch access to your favourite routes.
		include ../footer.jade