html
  head
    include ../head.pug
  body
    include ../header.pug
    p Gosh darn it, it looks like you're offline. Try again when you get reconnected.
    
    hr
    include ../form.pug
    include ../footer.pug