doctype xml
browserconfig
  msapplication
    tile
      square70x70logo(src=path+"Square71x71Logo.Scale200.png")/
      square150x150logo(src=path+"Square150x150Logo.Scale200.png")/
      square310x310logo(src=path+"Square310x310Logo.Scale200.png")/
      wide310x150logo(src=path+"Wide310x150Logo.Scale200.png")/
      TileColor #0087ca