doctype xml
browserconfig
	msapplication
		tile
			square70x70logo(src=path+"mstile-70x70.png")/
			square150x150logo(src=path+"mstile-150x150.png")/
			square310x310logo(src=path+"mstile-310x310.png")/
			wide310x150logo(src=path+"mstile-310x150.png")/
			TileColor #0087ca