hr
p
  small
    | An 
    a(href="https://github.com/danielthepope/trntxt") open source project
    |  created by 
    a(href="https://twitter.com/danielthepope") @danielthepope
p
  small Powered by 
    a(href="http://www.nationalrail.co.uk/") National Rail Enquiries
