hr
p
	small
		a(href="/") About trntxt
p
	small Created by 
		a(href="https://twitter.com/danielthepope") @danielthepope
p
	small Powered by 
		a(href="http://www.nationalrail.co.uk/") National Rail Enquiries