//- var legacyUrl = 'http://legacy.trntxt.uk' + (url ? url : '')
//- var betaUrl = 'http://beta.trntxt.uk' + (url ? url : '')
hr
p
	small
		a(href="/") How to use trntxt
//-p
	small
		| Something not right? Try an 
		a(href=legacyUrl) older
		|  or 
		a(href=betaUrl) newer
		|  version of trntxt.
p
	small
		| An 
		a(href="https://github.com/danielthepope/trntxt") open source project
		|  created by 
		a(href="https://twitter.com/danielthepope") @danielthepope
p
	small Powered by 
		a(href="http://www.nationalrail.co.uk/") National Rail Enquiries
