html
	head
		include head.jade
	body
		h1
			em trntxt.uk
		p Presenting trntxt: a data-friendly train times site designed for phones on GPRS.
		h3 Usage
		p
			strong /from/to
		p
			| For example 
			a(href="/paddington/reading") /paddington/reading
			|  to find trains departing Paddington, calling at Reading
		h3 About
		ul
			li No pictures or complicated styling mean fast load times, even on 2G connections.
			li No JavaScript means any device can use it.
			li Tiny responses mean the site can be used even on the tiniest of data plans.
		include footer.jade