body {
  background: #F5F7FA;
  font: 1em/1.4 sans-serif;
  color: #050505;
  max-width: 600px;
  padding: 8px;
  margin: auto;
}

a {
  color: #1b6b93;
}

/* Error message */
.e {
  color: #bd322a;
}

.g {
  color: #AAB2BD;
}

hr {
  border: 1px solid #CCD1D9;
}

input {
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #FFF;
  border: 2px solid #CCD1D9;
  border-radius: 4px;
  font-size: medium;
  color: #050505;
}

input[type=submit] {
  background-color: #0974aa;
  border: none;
  color: #FFF;
}

input[type=submit]:hover {
  background-color: #096389;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: #F5F7FA;
  }

  a {
    color: #3fa6da;
  }

  .e {
    color: #e15856;
  }

  .g {
    color: #656D78;
  }

  hr {
    border-color: #434A54;
  }

  input {
    background-color: #3C3B3D;
    border-color: #434A54;
    color: #F5F7FA;
  }
}