body {
  /* normal height, 1.3 line spacing */
  font: 1em/1.4 sans-serif;
  color: #333;
  max-width: 600px;
  padding: 8px;
  margin: auto;
}

/* Error message */
.e {
  color: red;
}

.g {
  color: #bbb;
}

hr {
  border: 1px solid #ddd;
}

input {
    padding: 3px;
    margin: 4px 0;
}
