doctype html
html
	head
		title= pageTitle
	body(style="font-family:sans-serif;background-color:#eee;color:222")
		p
			em trntxt
		!= content
		hr
		p
			small Page loaded at 
				= loadTime()
		p
			small
				a(href="/") About trntxt
		p
			small Created by 
				a(href="https://twitter.com/danielthepope") @danielthepope
		p
			small Powered by 
				a(href="http://www.nationalrail.co.uk/") National Rail Enquiries